.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock
.idea
android/gradle*
build/
example/.flutter-plugins-dependencies
example/ios/Flutter/flutter_export_environment.sh
example/ios/Podfile
android/.classpath
android/.project
android/.settings/
.flutter-plugins
.flutter-plugins-dependencies
